*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body{}

.wrap{}

/* header */

.header {
    background-color: #AA80F3;
    height: 100px;
    line-height: 100px;
    color: #fff;
    text-align: center;
}

.container{
    background-color: #CCAEFF;
}

.container .gnb ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container .gnb ul li {
    background-color: red;}
    
.container .gnb ul li a{
    display: block;
    padding: 0 10px;
    display: block;
    line-height: 80px;
    height: 80px;
}


/* .contents */
.contents{
    background-color: #F0F0F0;
    width: 1040px;
    margin: 0 auto;
    text-align: center;
}

.footer{
    background-color:#AA80F3 ;
    height: 160px;
    line-height: 160px;
    color: #fff;
    text-align: center;
}
