* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{}

.wrap {
    font-size: 30px;
    width: 1200px;
    margin: 0px auto; 
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.header{
    background-color:blanchedalmond;
    height: 80px;
    line-height: 80px;
    
}

.contents {
    width: 1200px;
    margin: 20px auto; 
    text-align: center;
    line-height: 624px;
    display: flex;
}

.contents .column1{
    background-color:rgb(254, 255, 168);
    margin: 0 auto;
    width: 400px;
    height: 624px;
}

.contents .column2{
    background-color:rgb(250, 161, 161);
    width: 400px;
    height: 624px;
}

.contents .column3{
    background-color:rgb(250, 191, 119);
    width: 400px;
    height: 624px;
}

.footer {
    background-color: beige;
    height: 60px;
    line-height: 60px;
}

