*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-size: 14px;
    background-color: yellow;
}

.content{
    width: 400px;
    margin: 50px auto;
}

.content.active{
    filter: blur(10px);
}


.photo{
    margin: 30px 0;
}

.photo img{
    width: 100%;
}

.modal{
    width: 600px;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal.active{
    opacity: 0.7;
    pointer-events: initial;
    top: 50%;
}

.modal p{
    padding: 30px 0;
    line-height: 1.2;
}

button{
    padding: 6px 12px;
    cursor: pointer;
}