/* Ctrl+/ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  기본 초기화 설정 
ul{
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
} 
*/

ul{
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img{
    display: block;
}

body{
    color: #222222;
    font-size: 14px;
}

.wrap{}

.header{
    background-color: #222222;
    color: #C9C9C9;
    height: 100px;
}

.header .inner {
    background-color: #222222;
    width: 1040px; 
    margin: 0 auto;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.header .inner .logo img{
    width: 96px;
    height: 39px;
} 

.header .inner .gnb{
    display: flex;
}

.header .inner .gnb li a{
    padding: 0 30px;
    display: block;
    line-height: 100px;
    height: 100px;
    
}

.header .inner .gnb li a:hover {
    color: orangered;
}

.header .inner .member{
    display: flex;
    gap: 20px;
}


.header .inner .member .btn {
    display: block;
    background-color: transparent;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    /* or display: flex align-item: center; justify-content:center */
    border: 1px solid #B28C68;
    border-radius: 37px;
    color: #B28C68;
    padding: 9 11px;
}

.header .inner .member .btn.filled {
   /* 위에 것 굳이 안 적어도 알아서 가져옴 */
   background-color: #B28C68;
   color: white;
   padding: 9 3px;
}

.contents{
    background-color:#FFFFFF ;
    width: 1040px;
    margin: 0 auto;

}

.contents .section{
    display: flex;
    gap: 60px;
    margin: 50px 0;
}

.contents .section .photos{
    display: flex;
    gap: 20px;
}

.contents .section .photos .item_01{
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.contents .section .photos .item_01 img{
    width: 220px;
    height: 152px;

}
 
.contents .section .photos .item_02 img{
    width: 220px;
    height: 324px;
}

.contents .section .texts{}

.contents .section .texts h2 {
    font-size: 24px;
}

.contents .section .texts p{
    color: #646464;
    line-height: 1.5;
    margin-top: 32px;
    margin-bottom: 46px;
}

.contents .section .texts a {
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background-color: #B28C68;
    color: #fff;
    text-align: center;
}

.footer{
    background-color: #C9C9C9;
    text-align: center;
}

.footer .inner {
    margin: 0 auto;
    background-color:#E9E9E9 ;
    width: 1040px;
    height: 300px;
    line-height: 300PX;
}