*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-size: 14px;
    font-weight: normal;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

img{
    display: block;
}

/* header */
.header{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 3px solid #FF6161;
}

.header .nav{
    display: flex;
}

.nav li{
    height: 100px;
    line-height: 100px;
}

.nav li a{
    padding: 0 40px;
}

.nav ul li{
    display: none;
}



.header .btns{
    display: flex;
    gap: 10px;
}

.header .btns li {
    padding: 8px 23px;
    line-height: 30px;
    border: 1px solid #FF6161;
    border-radius: 8px;
    text-align: center;
    background-color: #F6F6F6;
}

.header .btns li:last-child {
    background-color: #FF6161;
    color: #F6F6F6;
}

/* article */
.slider .slide img{
    margin-bottom: 10px;
}

/* main */
.contents{
    display: flex; 
    margin: 0 auto; 
    gap: 28px;
    margin-bottom: 10px;
}

.contents > div{
    flex: 1;
}

/* .content,.banner,.links{
    flex: 1;
    height: 180px;
} */

.content .titles{
    display: flex;
    gap: 4px;
    border-bottom: 3px solid #FC5353;
}

.content .titles h2{
    font-size: 14px;
    background-color: #F6F6F6;
    text-align: center;
    height: 48px;
    line-height: 48px;
    flex: 1;
}

.content .titles h2:first-child{
    background-color: #FC5353;
    color: #F6F6F6;
}

.contents .texts{
    padding: 16px 10px;
}



.contents .texts li i{
    display: block;
    padding: 4px 0;
    width: 360px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    

}

.contents .texts a:hover {
    text-decoration: underline;
}

.contents .gallery_list{
    display: none}



.contents .links{
    display: flex;
    flex-wrap: wrap; 
    gap: 8px 12px;
}

.contents .links a{
    display: block;
    height: 84px;
    width: 184px;
    line-height: 84px;
    text-align: center;
    background-color: #DCDCDC;
    border-radius: 8px;
}

.contents .links a:hover{
    background-color: #FC5353;

}

/* footer */
.footer{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    background-color: #d9d9d9;
    height: 100px;
    padding: 0 20px;
}

.footer .sns{
    display: flex;
}

.footer .sns li{
    padding: 0 20px;
    cursor: pointer;
}

.footer .sns li i{ 
    margin-right: 4px;
}

.popup{
    background-color: #fff;
    border: 1px solid #d9d9d9;
    line-height: 1.6;
    width: 600px;
    height: 400px;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup h2{
    font-size: 26px;
}

.popup p{
    padding: 10px 0;
}